version: 2.1

jobs:
  get-changes: 
    docker:
      - image: cimg/base:2020.01
        auth:
          username: $DOCKER_USERNAME
          password: $DOCKER_PASSWORD
    steps:
      - jq/install
      - run: |
          pr_number=${CIRCLE_PULL_REQUEST##*/}
          pull_request=$( \
            curl \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/pulls/${pr_number} \
          )
          echo pull_request: $pull_request
          baseSHA=$($pull_request | jq -r '.base.ref')
          echo baseSHA $baseSHA
          echo CIRCLE_SHA1 $CIRCLE_SHA1
          git diff $CIRCLE_SHA1 $baseSHA --name-only
      - checkout
      - run: echo "checked out the code! (Hopefully)"

orbs:
  jq: circleci/jq@2.2.0

workflows:
  build:
    jobs:
      - get-changes
