version: 2.1

jobs:
  get-changes: 
    docker:
      - image: cimg/base:2020.01
        auth:
          username: $DOCKER_USERNAME
          password: $DOCKER_PASSWORD
    steps:
      - run: |
        echo $CIRCLE_PULL_REQUEST
        echo $CIRCLE_PR_REPONAME
        echo $CIRCLE_PROJECT_REPONAME
        echo $CIRCLE_PROJECT_USERNAME
        echo $CIRCLE_PR_NUMBER
      - run: |
          pull_request=$( \
            curl \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PR_REPONAME}/pulls/${CIRCLE_PR_NUMBER} \
          )
          echo $pull_request
      - checkout
      - run: echo "checked out the code! (Hopefully)"

workflows:
  build:
    jobs:
      - get-changes
