version: 2.1

jobs:
  get-changes: 
    docker:
      - image: cimg/base:2020.01
        auth:
          username: $DOCKER_USERNAME
          password: $DOCKER_PASSWORD
    steps:
      - jq/install
      - checkout
      - run: |
          pr_number=${CIRCLE_PULL_REQUEST##*/}
          baseSHA=$( \
            curl \
            -s \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/pulls/${pr_number} \
            | jq -r '.base.sha'
          )
          echo baseSHA: "$baseSHA"
          echo CIRCLE_SHA1: "$CIRCLE_SHA1"
          echo $(git diff $CIRCLE_SHA1 $baseSHA --name-only)

orbs:
  jq: circleci/jq@2.2.0

workflows:
  build:
    jobs:
      - get-changes
