version: 2.1

jobs:
  get-changes: 
    docker:
      - image: cimg/base:2021.01
        auth:
          username: $DOCKER_USERNAME
          password: $DOCKER_PASSWORD
    steps:
      # - jq/install
      - checkout
      - run: 
          name: "git PR diff"
          command: |
            pr_number=${CIRCLE_PULL_REQUEST##*/}
            base_SHA=$( \
              curl \
              -s \
              -H "Accept: application/vnd.github.v3+json" \
              https://api.github.com/repos/"${CIRCLE_PROJECT_USERNAME}"/"${CIRCLE_PROJECT_REPONAME}"/pulls/"${pr_number}" \
              | jq -r '.base.sha'
            )
            git diff "$base_SHA" "$CIRCLE_SHA1" --name-only
            echo "${TERM}"

# orbs:
#   jq: circleci/jq@2.2.0

workflows:
  build:
    jobs:
      - get-changes:
          context:
            - org-global
