version: 2.1

jobs:
  get-changes: 
    docker:
      - image: cimg/base:2020.01
        auth:
          username: $DOCKER_USERNAME
          password: $DOCKER_PASSWORD
    steps:
      - run : echo $CIRCLE_PULL_REQUEST
      - checkout
      - run: echo "checked out the code! (Hopefully)"

workflows:
  build:
    jobs:
      - get-changes
